/**
 *主题
 */
$primary-color:#1890ff;
$primary-bg-color:#1890ff;
/*theme1*/
$t1-primary-color:rgba(225,103,58,1);
$t1-primary-bg-color:rgba(225,103,58,1);
$t1-primary-bg-color-o:rgba(225,103,58,.1);

/*theme2*/
$t2-primary-color:rgba(17,115,206,1);
$t2-primary-bg-color:rgba(17,115,206,1);
$t2-primary-bg-color-o:rgba(17,115,206,.1);

/*theme3*/
$t3-primary-color:rgba(48,87,157,1);
$t3-primary-bg-color:rgba(48,87,157,1);
$t3-primary-bg-color-o:rgba(48,87,157,.1);

/*theme4*/
$t4-primary-color:rgba(0,155,148,1);
$t4-primary-bg-color:rgba(0,155,148,1);
$t4-primary-bg-color-o:rgba(0,155,148,.1);
